.editor-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
}

.ProseMirror {
    outline: none;
    min-height: 200px;
    font-size: 1.1rem;
    line-height: 1.75;
}

.ProseMirror p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

ul[data-type="taskList"] {
    list-style: none;
    padding: 0;
}

ul[data-type="taskList"] li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0.5rem;
}

ul[data-type="taskList"] li>label {
    margin-right: 0.5rem;
    user-select: none;
    cursor: pointer;
}

ul[data-type="taskList"] li>div {
    flex: 1;
}

/* Custom Checkbox Style */
ul[data-type="taskList"] li input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    cursor: pointer;
    width: 1.25em;
    height: 1.25em;
    border: 2px solid var(--color-border);
    border-radius: 4px;
    display: grid;
    place-content: center;
    margin-top: 0.3em;
}

ul[data-type="taskList"] li input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em white;
    background-color: white;
    transform-origin: center;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

ul[data-type="taskList"] li input[type="checkbox"]:checked {
    background-color: var(--color-green-primary);
    border-color: var(--color-green-primary);
}

ul[data-type="taskList"] li input[type="checkbox"]:checked::before {
    transform: scale(1);
}